---
layout: default
---
<table border="0">
	<tr>
		<td>
			<center><h2>
				Alex Anderson
			</h2></center>
			<p>
				Hello! My name is Alex and I am a machine learning research scientist at
                <a href='http://www.wave.one/' target='_blank'>
					WaveOne</a>.
                I worked with
				<a href='http://http://redwood.berkeley.edu/bruno/' target='_blank'>
					Bruno Olshausen</a>
				in the
				<a href='http://redwood.berkeley.edu/' target='_blank'>
						Redwood Center for Theoretical Neuroscience</a> during
                    my Ph.D.
				In the summer of 2016, I interned at
                <a href='https://www.oculus.com/research/' target='_blank'>
                    Oculus Research</a>.
                In the past, I graduated summa cum laude at Washington University in
				St. Louis with a double major in math and physics.
				I did my undergraduate thesis with
				<a href='http://physics.wustl.edu/cmb/' target='_blank'> Carl Bender</a>.
				Before that, I enjoyed high school math competitions.
				<center>
					<a href='https://linkedin.com/in/{{site.linkedin_username}}' target='_blank'>LinkedIn</a> |
					<a href='https://github.com/{{site.github_username}}' target='_blank'>GitHub</a> |
					<a href='{{site.baseurl}}static/img/address.png' target='_blank'>Email</a> |
					<a href='static/pdf/2015-12-29_resume_web.pdf' target='_blank'>Resume</a>
				</center>
			</p>
		</td>

    <td>
			<img src="static/img/face_small.jpg" width="1600px" height="auto">
    </td>
	</tr>
</table>


<div style="height: 50px;">&nbsp;</div>


<h2 style="text-align:center"> Representative Work </h2>
<table border=0>
<ul>
{% for pr in site.data.projects %}
  <tr>
  <td>
  <img src="{{ site.baseurl }}{{pr.img}}" style="max-height: 400px; max-width: 200px;">
  </td>
  <td>
      <div><u>{{pr.type}}</u>:  <b>{{pr.title}}</b> </div>
    <div><i>{{pr.authors}}</i> {{pr.location}} ({{pr.date}})</div>
    {{pr.desc}} {{pr.link}}
  </td>
  </tr>
{% endfor%}
</ul>
</table>

<div style="height: 50px;">&nbsp;</div>

<h2 style="text-align:center"> Past Projects </h2>

<table border=0>
<ul>
{% for pr in site.data.other_projects %}
  <tr>
  <td>
  <img src="{{ site.baseurl }}{{pr.img}}" style="max-height: 400px; max-width: 200px;">
  </td>
  <td>
      <div><u>{{pr.type}}</u>:  <b>{{pr.title}}</b> </div>
    <div><i>{{pr.authors}}</i> {{pr.location}} ({{pr.date}})</div>
    {{pr.desc}} {{pr.link}}
  </td>
  </tr>
{% endfor%}


</ul>
</table>
